*{ 
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.banner{
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("banner-img.jpg") center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding-bottom: 20px;
}


.banner h2{
    padding-bottom: 40px;
    margin-bottom: 20px;
}

.form-row{
    display: flex;
    width: 90%;
    margin: 0 auto;
    
}
form select, form input{
    display: block;
    width: 100%;
    margin: 15px 12px;
    padding: 5px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    border-bottom: 1px solid #eee;
    font-weight: 300;
}
form input[type = text], form input[type = number], form input::placeholder, select{
    color: #9a9a9a;
}
form input[type = submit]{
    color: #fff;
    background: #f2745f;
    padding: 12px 0;
    border-radius: 4px;
    cursor: pointer;
}
form input[type = submit]:hover{
    opacity: 0.9;
}
@media(max-width: 992px){
    .card-container{
        grid-template-columns: 100%;
        width: 100vw;
    }
    .card-img{
        height: 330px;
    }
}
h3{text-align: center;font-size: 50px;}
.images{
display: flex;
animation-duration: 30s;
animation-name: mesimages;
animation-iteration-count: infinite;

}
@keyframes mesimages{
  0%{transform: translateX(0);}
25%{transform: translateX();}
50%{transform: translateX(-1280px);}
75%{transform: translateX(-1920px);}
100%{transform: translateX(0);}
}
#coroussel{ 
height: 300px;
margin-left: 100px;
width: 600px;
overflow: hidden;
border: solid;
margin-top: -400px;
border-radius: 20px;
}